.red{
    color: black;
}

.bg-yellow{
background-color: yellowgreen;
}

#firstdiv{
background-color: red;
}

.yellow{
    color: pink;
}

.brown{
    background-color: green;
}

#seconddiv{
    color: black;
}